:root {
  --color-primary: #3d3d3f;
  --color-secondary: #a2bd30;
  --color-secondary-bg: #f7fce0;
  --color-secondary-dark: #73832a;
  --color-error: #c42121;
}

.layout {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  min-height: 100vh;
  width: 100vw;

  & > .mdc-drawer {
    flex: 1 0 250px;
    min-height: 100vh;

    @media (max-width: 600px) {
      display: none;
    }

    .mdc-list-item--activated {
      color: var(--color-secondary-dark);
    }
    .mdc-evolution-list-item--activated .mdc-list-item__ripple::before,
    .mdc-evolution-list-item--activated .mdc-list-item__ripple::after,
    .mdc-list-item--activated .mdc-list-item__ripple::before,
    .mdc-list-item--activated .mdc-list-item__ripple::after {
      background-color: var(--color-secondary);
    }
  }

  & > .mdc-drawer-app-content {
    flex: 7 0 calc(100% - 250px);    
    max-height: 100vh;
    overflow: auto;
    position: relative;

    & > .mdc-top-app-bar--fixed {
      top: 0;
      width: calc(100vw - 250px);
    }

    @media (max-width: 600px) {
      flex: 7 0 100%;

      & > .mdc-top-app-bar--fixed {
        width: 100vw;
      }
    }
  }

  &--tabs {
    --mdc-typography-button-text-transform: none;

    position: fixed;
    z-index: 9;
    bottom: 0;
    display: none;

    background-color: var(--color-light, #fff);

    @media (max-width: 600px) {
      display: block;
    }

    .mdc-tab--active .mdc-tab__text-label {
      color: var(--color-secondary-dark);
    }
  }

  &--content {
    max-width: 62rem;
    min-height: calc(100vh - 7.5rem);
    margin: 0 auto;
    padding: 5.5rem 1rem 2rem;

    @media (max-width: 600px) {
      padding-bottom: 4.5rem;
      min-height: calc(100vh - 10rem);
    }
  }
}

.loader--container {
  margin: 2rem auto;
  text-align: center;
}

.accounts {
  &--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
  }

  &--card {
    flex: 1 0 18rem;
    justify-content: space-between;
    min-width: 18rem;

    &-primary-action {
      padding: 0 1rem 1rem;
      background-color: var(--color-secondary-bg, #eff7cc);
    }

    .mdc-typography {
      &--subtitle2 {
        margin-bottom: 0;
      }
      &--headline4 {
        margin: 0;
        text-align: right;
        color: var(--color-secondary-dark, #73832a) !important;
      }
      &--headline6 {
        margin: 0 0 0.5rem 0;
      }
    }

    .mdc-card__action-buttons {
      justify-content: space-between;
      flex: 1;
    }
  }
}

.account {
  &--card {
    padding: 1rem;
    background-color: var(--color-secondary-bg, #eff7cc);
    border-radius: 0.5rem;
  }

  .mdc-typography {
    &--subtitle1 {
      margin: 0;
    }
    &--subtitle2 {
      margin: 2rem 0 1rem 1rem;
      font-size: 1.2rem;
    }
    &--headline3 {
      margin: 1rem;
      text-align: center;
      color: var(--color-secondary-dark, #73832a) !important;
    }
    &--headline4 {
      margin: 0 0 0.5rem 0;
    }
  }

}

.rates {
  .mdc-typography {
    &--body1 {
      margin: 0 0 1rem 1rem;
    }
  }

  &--container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

.transactions-table {
  .mdc-data-table {
    min-width: 100%;
  }

  .transaction {
    &--pending {
      color: var(--color-secondary-dark, #73832a);
    }
    &--error {
      color: var(--color-error, #990000);
    }
    &--number {
      text-align: right;
    }
    &--account {
      font-weight: bold;
    }
    &--note-row {
      border-top-width: 0;
    }
    &--note {
      vertical-align: top;
      height: 2rem;
      font-style: italic;
    }
  }
}

.action {
  &--container {
    padding: 0 1rem 1.5rem;
    text-align: right;
  }
}

.form {
  &--field {
    position: relative;
    display: flex;
    flex-direction: row;

    margin: 0 0 1.5rem 0;
  }
  &--input {
    flex: 1;
    background-color: var(--color-secondary-bg, #eff7cc) !important;

    .mdc-floating-label {
      color: var(--color-secondary-dark, #73832a) !important;
    }
    .mdc-text-field__input {
      font-size: 1.2rem;
    }
    .mdc-line-ripple::before,
    .mdc-line-ripple::after {
      border-bottom-color: var(--color-secondary-dark, #73832a) !important;
    }

    &--suffix {
      position: absolute;
      z-index: 3;
      right: 2.5rem;
      bottom: 0.8rem;
    }
  }
  &--currency-select,
  &--account-select {
    flex: 1;

    .mdc-select__anchor {
      width: 9rem;
      background-color: var(--color-secondary-bg, #eff7cc) !important;
    }
  }
  &--currency-select {
    flex: 0 0 5rem;
    margin-left: 1rem;
  }
  &--checkbox {
    & > label {
      color: var(--color-primary, #000);
    }
  }
}
